<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Biblioteca Doméstica - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='img/header_image.jpg') }}" alt="Minha Biblioteca" class="header-image">
            <h1>Minha Biblioteca Doméstica</h1>
        </header>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('add_book') }}">Adicionar Livro</a>
            <a href="{{ url_for('bulk_upload') }}">Adicionar Vários Livros</a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; <span id="current-year"></span> Minha Biblioteca Doméstica</p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const currentYearElement = document.getElementById('current-year');
            if (currentYearElement) {
                currentYearElement.textContent = moment().format('YYYY');
            }
        });
    </script>
</body>
</html>