{% extends "base.html" %}

{% block title %}Meus Livros{% endblock %}

{% block content %}
    <section class="hero">

        <h1>Bem-vindo à sua Biblioteca Doméstica</h1>
        <p>Gerencie seus livros de forma fácil e prática.</p>
    </section>

    <section class="actions-bar">
        <a href="{{ url_for('register_book') }}" class="btn btn-primary">Cadastrar Novo Livro</a>
    </section>

    <section class="search-section">
        <h2>Buscar Livros</h2>
        <form method="GET" action="{{ url_for('index') }}" class="search-bar">
            <input type="text" name="query" placeholder="Buscar por título ou autor..." value="{{ query or '' }}">
            <button type="submit" class="btn btn-secondary">Buscar</button>
            {% if query %}
                <a href="{{ url_for('index') }}" class="btn btn-link">Limpar Busca</a>
            {% endif %}
        </form>
    </section>

    <section class="book-collection">
        <h2>Sua Coleção</h2>
        {% if books %}
            <div class="book-list">
                {% for book in books %}
                    <article class="book-item">
                        <a href="{{ url_for('book_detail_route', book_id=book.id) }}" class="book-link">
                            <div class="book-cover">
                                {% if book.cover_path %}
                                    <img src="{{ url_for('static', filename=book.cover_path) }}" alt="Capa de {{ book.title }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='uploads/default_cover.png') }}" alt="Capa Padrão">
                                {% endif %}
                            </div>
                            <div class="book-info">
                                <h3>{{ book.title }}</h3>
                                <p class="author"><em>{{ book.author }}</em></p>
                            </div>
                        </a>
<!--                        <div class="book-actions">-->
<!--                             <a href="{{ url_for('edit_book', book_id=book.id) }}" class="btn btn-sm btn-secondary">Editar</a>-->
<!--                        </div>-->
                    </article>
                {% endfor %}
            </div>
        {% else %}
            {% if query %}
                <p>Nenhum livro encontrado para sua busca por "{{ query }}".</p>
            {% else %}
                <p>Você ainda não cadastrou nenhum livro. <a href="{{ url_for('register_book') }}">Que tal cadastrar o primeiro agora?</a></p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}